@use '../utils' as *;

/*--
    - Background color
-----------------------------------------*/
.grey-bg {
	background: var(--tp-grey-1);
}
.white-bg {
	background: var(--tp-common-white);
}
.black-bg {
	background: var(--tp-common-black);
}
.theme-bg {
	background: var(--tp-theme-2);
}
.sky-bg {
	background: var(--tp-common-blue);
}
.yellow-bg {
	background: var(--tp-theme-primary);
	border-radius: 20px;
}
.blue-bg {
	background: #443cf4;
}
.bg-radius-none{
    border-radius: inherit;
}
.bg-header{
	height: 44px;
	width: contain;
	border-radius: 50%;
	line-height: 44px;
	text-align: center;
	background-color: #3E3E45;
	display: inline-block;
	
}
.container-box {
	height: 80px;
	width:80px;
	background: #fff;
	border: 1px solid rgb(0, 21, 255);
	margin-bottom: 10px;
	padding-left: 10px;
	margin: 10px;
}
.features-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;	
  }
.trustbar {
	background: #443cf4;
	width: 100%;
	height: 120px;
	align-items: center;
	display: grid;
	grid-template-columns: 3;
	grid-template-rows: 2;
	margin-bottom: 70px;
	z-index: 2;
}
.trustbar-container {
	position: absolute;
	justify-content: center;
	align-items: center;
	grid-column-start: auto;
	z-index: 3;
}
.margin-bottom-50 {
	flex-wrap: nowrap;
	float: none;
	position: absolute;
	z-index: 1;
	justify-content: center;
}
.justify-center{
	justify-content: center;
}