@use '../utils' as *;
.tp-subtitle{
    font-size: 18px;
    font-weight: 500;
    color: #8A90A2;
    margin-bottom: 20px;
    &::before{
        height: 12px;
        width: 12px;
        background-color: var(--tp-theme-primary);
        content: '';
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
    }
}
.tp-subtitle-before-color{
    color: rgba(41, 41, 48, .60);
    &::before{
        background-color: rgba(41, 41, 48, .60);
    }
}
.tp-title{
    font-size: 60px;
    font-weight: 700;
    color: var(--tp-common-black);
    margin-bottom: 40px;
    @media #{$xl} {
        font-size:50px;
    }
    @media #{$lg} {
        font-size:42px;
    }
    @media #{$md}{
        font-size: 35px;
    }
    @media #{$xs}{
        font-size: 35px;
    }
    @media #{$sm}{
        font-size: 35px;
    }
}
.tp-title-sm{
    font-size: 50px;
    letter-spacing: 0;
    color: var(--tp-common-black);
    font-weight: 700;
    letter-spacing: -2px;
    @media #{$xl} {
        font-size:45px;
    }
    @media #{$lg} {
        font-size:38px;
    }
    @media #{$md} {
        font-size:38px;
    }
    @media #{$xs} {
        font-size:35px;
    }
}
.tp-white-text{
    color: var(--tp-common-white);
}
.subtitle-secondary-color{
    color: #d2d2d2;
}
.bullet-list{
    padding-left: 30px;
    &::before{
        height: 12px;
        width: 12px;
        background-color: var(--tp-theme-primary);
        content: '';
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
}
}
.extra-padding{
    padding-top: 15px;
    padding-bottom: 15px;
}
.tp-svmain-title{
    font-size: 50px;
    font-weight: 700;
    color: var(--tp-common-black);
    padding-top: 5%;
    margin-bottom: 20px;
    @media #{$xl} {
        font-size:50px;
    }
    @media #{$lg} {
        font-size:42px;
    }
    @media #{$md}{
        font-size: 35px;
    }
    @media #{$xs}{
        font-size: 35px;
    }
    @media #{$sm}{
        font-size: 35px;
    }

}
.tp-section-highlight{
    position: relative;
    z-index: 1;
    display: inline-block;
    & svg{
        position: absolute;
        bottom: 11px;
        left: 2px;
        z-index: -1;
        width: 100%;
    }

}  .tp-subtitle-bullet{
    font-size: 18px;
    font-weight: 500;
    color: #8A90A2;
    margin-bottom: 20px;
    &::before{
        height: 12px;
        width: 12px;
        background-color: var(--tp-theme-primary);
        content: '';
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
 }
}
.tp-title-white{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
    @media #{$xl} {
        font-size:50px;
    }
    @media #{$lg} {
        font-size:42px;
    }
    @media #{$md}{
        font-size: 35px;
    }
    @media #{$xs}{
        font-size: 35px;
    }
    @media #{$sm}{
        font-size: 35px;
    }
}
.tp-title-md{
    font-size: 40px;
    font-weight: 700;
    color: var(--tp-common-black);
    text-align: center;
}
.tp-title-md-blue{
    font-size: 50px;
    font-weight: 700;
    color: var(--tp-theme-2);
    text-align: center;
}
.tp-title-md-left{
    font-size: 50px;
    font-weight: 700;
    color: var(--tp-common-black);
    
}.tp-title-sm-left{
    font-size: 30px;
    font-weight: 500;
    color: var(--tp-common-black);
    
}
.tp-title-sm-center{
    font-size: 30px;
    font-weight: 900;
    color: var(--tp-common-black);
    align-items: center;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}
.tp-title-md-left-blue{
    font-size: 50px;
    font-weight: 700;
    color: var(--tp-theme-2);
    padding-top: 20px;
    
}
.md-padding{
    padding-top: 20px;
    
}
.sm-padding{
    padding-top: 10px;
    
}
.align-text-center{
    text-align: center;
    background-color: var(--tp-theme-2);
    display: inline-block;
    color: #fff; // This will set the text color to dark grey
    font-size: 12px; // This will set the font size to 12 pixels
    text-align: center; // This will center-align the text in the rectangle
    border-radius: 20px; // This will give the rectangle rounded corners
    padding: 0 20px; // This will add 10 pixels of padding to the left and right of the text
    line-height: 40px; // This will set the height of the rectangle to 40 pixels

}
.tp-service-title{
    font-size: 40px;
    font-weight: 700;
    color: var(--tp-theme-primary);
    margin-bottom: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @media #{$xl} {
        font-size:50px;
    }
    @media #{$lg} {
        font-size:42px;
    }
    @media #{$md}{
        font-size: 35px;
    }
    @media #{$xs}{
        font-size: 35px;
    }
    @media #{$sm}{
        font-size: 35px;
    }
}
.tp-title-md-white{
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
   
}
.tp-p-white{
    font-size: 15px;
    font-weight: 700;
    color: rgb(255, 255, 255);
   
}
.tp-subtitle-md{
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 20px;
    &::before{
        height: 12px;
        width: 12px;
        background-color: var(--tp-theme-primary);
        content: '';
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
    }
    
}
.row-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tp-subtitle-md-blue{
        font-size: 30px;
        font-weight: bo;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        color:#ffffff;
        margin-bottom: 20px;
    
    }
    .tp-title-white-lg{
    font-size: 70px;
    font-weight: 700;
    color: rgb(255, 255, 255);
           filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
     @media #{$xl} {
    font-size: 50px;
    }
    @media #{$lg} {
    font-size: 50px;
    }
    @media #{$md}{
        font-size: 50px;
    }
    @media #{$xs}{
        font-size: 50px;
    }
    @media #{$sm}{
        font-size: 50px;
    } 
}
    .tp-title-sm-white{
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);

     @media #{$xl} {
        font-size:22px;
    }
    @media #{$lg} {
        font-size:22px;
    }
    @media #{$md}{
        font-size:22px;
    }
    @media #{$xs}{
        font-size:22px;
    }
    @media #{$sm}{
        font-size:22px;
    }  
}
.tp-subtitle-white{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 20px;
    &::before{
        height: 12px;
        width: 12px;
        background-color: var(--tp-theme-primary);
        content: '';
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
    }
}
.tp-p-md{
    font-size: 24px;
    font-weight: 600;
}
.tp-message{
    font-size: 22px;
    font-weight: 700;
    color: var(--tp-common-black);
    padding-top: 5%;
    margin-bottom: 20px;
    @media #{$xl} {
        font-size: 22px;
    }
    @media #{$lg} {
        font-size: 22px;
    }
    @media #{$md}{
        font-size: 22px;
    }
    @media #{$xs}{
        font-size: 22px;
    }
    @media #{$sm}{
        font-size: 22px;
    }

}
.tp-message-description{
    font-size: 14px;
    font-weight: 500;
    color: var(--tp-common-black);
    padding-top: 5%;
    margin-bottom: 20px;
    @media #{$xl} {
        font-size: 14px;
    }
    @media #{$lg} {
        font-size: 14px;
    }
    @media #{$md}{
        font-size: 14px;
    }
    @media #{$xs}{
        font-size: 14px;
    }
    @media #{$sm}{
        font-size: 14px;
    }

}
.padding{
padding-left: 40px;
}
.tp-service-base{
    font-size: 60px;
    font-weight: bold;
    box-shadow: #000000;
    color: #fff;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.align-perks-right{
justify-content: right;
text-align: right;
padding:5%;
}
.tp-message-description-white{
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 5%;
    margin-bottom: 20px;
    @media #{$xl} {
        font-size: 14px;
    }
    @media #{$lg} {
        font-size: 14px;
    }
    @media #{$md}{
        font-size: 14px;
    }
    @media #{$xs}{
        font-size: 14px;
    }
    @media #{$sm}{
        font-size: 14px;
    }

}
.service-padding{
padding: 10%;
    
}
.tp-title-white-center{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
 text-align: center;
    @media #{$xl} {
        font-size:50px;
    }
    @media #{$lg} {
        font-size:42px;
    }
    @media #{$md}{
        font-size: 35px;
    }
    @media #{$xs}{
        font-size: 35px;
    }
    @media #{$sm}{
        font-size: 35px;
    }
}