/*----------------------------------------*/
/*  24. service CSS START
/*----------------------------------------*/


@use '../utils' as *;

.tp-service-item {
    background-color: var(--tp-common-white);
    padding: 60px 60px;
    border-radius: 20px;
    position: relative;
    z-index: 2;

    @media #{$xl} {
        padding: 50px 30px;
    }

    @media #{$lg} {
        padding: 30px 25px;
    }

    @media #{$xs} {
        flex-wrap: wrap;
        padding: 35px 20px;
    }

    @media #{$sm} {
        padding: 49px 30px;
    }

    .tp-sv-img {
        @media #{$xs} {
            margin-bottom: 20px;
        }
    }
    &:hover{
        & .tp-sv-img {
            @include top-to-bottom-hover();
        }
    }
}


.tp-sv-box {
    position: relative;

    &:before {
        content: "";
        background-image: linear-gradient(-90deg, #5956E9 0%, #FFDC60 100%);
        opacity: 0.3;
        height: 27px;
        width: 84%;
        bottom: 0px;
        position: absolute;
        left: 0;
        border-radius: 30px;
        right: 0;
        margin: auto;
        z-index: 1;
        transition: .4s;
    }

    &:hover {
        &:before {
            bottom: -20px;

        }
    }
}

.tp-sv-img {
    @include top-to-bottom();
    & img {
        min-width: 105px;
    }
}

.tp-sv-content {
    @media #{$xl} {
        padding-left: 30px;
    }

    @media #{$lg} {
        padding-left: 15px;
    }

    @media #{$xs} {
        padding-left: 0px;
    }

    & .tp-sv-title {
        color: var(--tp-common-black);
        font-size: 32px;
        font-weight: 500;

        &:hover {
            color: var(--tp-theme-1);
        }

        @media #{$lg} {
            font-size: 25px;
        }

        @media #{$xs} {
            font-size: 25px;
        }
    }

    & p {
        line-height: 26px;

        @media #{$lg} {
            font-size: 15px;
        }
    }
}

.tp-service-section-box {
    position: relative;
    z-index: 2;
}

.tp-sv-link {
    & a {
        font-size: 18px;
        color: var(--tp-common-black);
        font-weight: 600;

        &:hover {
            color: var(--tp-theme-1);

            & i {
                animation: tfLeftToRight 0.4s forwards;
            }
        }

        & i {
            font-weight: 400;
            padding-right: 10px;
        }
    }
}

.tp-sv-shape-img {
    position: absolute;
    bottom: 0;
    left: 10px;

    @media #{$xxl} {
        bottom: -75px;
    }
    @media #{$xl,$lg} {
        bottom: -70px;
    }

    @media #{$md} {
        bottom: -74px;
    }

    @media #{$xs} {
        bottom: -80px;
    }
}

.tp-sv-shape-img-2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}

.tp-sv-item-two {
    border: 1px solid #3F3F47;
    border-radius: 20px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 50px;
    position: relative;
    padding-right: 44px;

    @media #{$xl} {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 42px;
        position: relative;
        padding-right: px;
    }

    @media #{$lg} {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 39px;
        padding-right: 26px;
    }

    @media #{$md} {
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 50px;
        padding-right: 25px;
    }

    @media #{$xs} {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 33px;
        padding-right: 11px;
    }

    &:hover {
        border-color: #3F3F47;

        &::after {
            height: 100%;

        }

        & .tp-sv-icon-two {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
    }
}

.tp-sv-icon-two {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
    background-color: #3F3F47;
    border-radius: 20px;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
    transform: scale(0.9);

    & i {
        font-size: 165px;
        -webkit-text-stroke: 1px #8D8D9C;
        color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)rotate(45deg);
    }
    & a{
        height: 100%;
        width: 100%;
        display: block;
    }
}

.tp-sv-content-tow {
    & .tp-sv-product-design {
        font-size: 32px;
        font-weight: 500;
        color: var(--tp-common-white);
        margin-bottom: 40px;
    }

    & p {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: #B5B8C1;
        margin-bottom: 0;

        @media #{$xl} {
            font-size: 16px;
        }
    }
}

.tp-sv-blue-color {
    border-bottom: 3px solid #5956E9;
}

.tp-sv-sky-color {
    border-bottom: 3px solid #57c9da;
}

.tp-sv-pink-color {
    border-bottom: 3px solid #FFADAD;
}

.service-color-1 {
    background-color: rgba(255, 220, 96, 0.1);
}

.service-color-2 {
    background-color: rgba(130, 132, 253, 0.1);
}

.service-color-3 {
    background-color: rgba(255, 173, 173, 0.1);
}

.tp-services-item {
    padding: 80px 45px;
    border-radius: 20px;

    @media #{$xl} {
        padding: 45px 40px;
    }

    @media #{$md} {
        padding: 40px 45px;
    }

    @media #{$xs} {
        padding: 35px 30px;
    }

    &__icon {
        & img {
            min-height: 123px;
        }
    }

    &__content {
        & p {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            color: #8A879F;
            margin-bottom: 0;
        }
    }
    &:hover{
        & .tp-services-item__icon {
            animation: icon-bounce 0.8s 1;
        }
    }
}

.tp-sv-title {
    font-size: 32px;
    color: var(--tp-common-black);
    font-weight: 500;
    margin-bottom: 45px;

    @media #{$xl} {
        margin-bottom: 25px;
    }

    &:hover {
        color: var(--tp-theme-1);
    }
}

.tp-service-item-four {
    background-color: var(--tp-common-white);
    box-shadow: 0px 4px 4px rgba(100, 109, 152, 0.06);
    padding: 0px 55px;
    padding-top: 65px;
    padding-bottom: 55px;
    border-radius: 20px;
    transition: .3s;
    position: relative;
    z-index: 2;

    &__img {
        height: 60px;
        width: 60px;
        background-color: rgba(139, 64, 229, 0.15);
        line-height: 60px;
        text-align: center;
        border-radius: 6px;
        transition: .6s;
    }
}

.tp-sv-sm-title {
    font-size: 24px;
    color: var(--tp-common-black);
    font-weight: 500;
    line-height: 32px;

    @media #{$xl} {
        font-size: 20px;
    }

}

.tp-sv-border-effect {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        bottom: 3px;
        left: 0;
        height: 40px;
        width: 100%;
        background-color: #1EE2CF;
        border-radius: 20px;
        transition: .4s;
    }

    &:hover {
        & .tp-service-item-four__img {
            transform: rotateY(180deg);
        }

        &::after {
            bottom: -3px;
        }
    }
}

.sv-border-effect-1 {
    &::after {
        background-color: #8B40E5;
    }
}

.sv-border-effect-2 {
    &::after {
        background-color: #FF885A;
    }
}

.sv-border-effect-3 {
    &::after {
        background-color: #FD346E;
    }
}

.sv-border-effect-4 {
    &::after {
        background-color: #0D88FF;
    }
}

.sv-border-effect-5 {
    &::after {
        background-color: #0CD68A;
    }
}

.sv-border-effect-6 {
    &::after {
        background-color: #FCDC02;
    }
}

.sv-color-1 {
    & .tp-service-item-four__img {
        background-color: rgba(30, 226, 207, 0.15);
    }

    & .tp-service-item-four__title {
        &:hover {
            & h3 {
                color: #1EE2CF;
            }
            & .tp-service-item-four__img {
                background-color: rgba(30, 226, 207, 0.15);
            }
        }
    }
}

.sv-color-2 {
    & .tp-service-item-four__img {
        background-color: rgba(139, 64, 229, 0.15);
    }

    & .tp-service-item-four__title {
        &:hover {
            & h3 {
                color: #8B40E5;
            }
        }
    }
}

.sv-color-3 {
    & .tp-service-item-four__img {
        background-color: rgba(255, 136, 90, 0.15);
    }

    & .tp-service-item-four__title {
        &:hover {
            & h3 {
                color: #FF885A;
            }
        }
    }
}

.sv-color-4 {
    & .tp-service-item-four__img {
        background-color: rgba(253, 52, 110, 0.15);
    }

    & .tp-service-item-four__title {
        &:hover {
            & h3 {
                color: #FD346E;
            }
        }
    }
}

.sv-color-5 {
    & .tp-service-item-four__img {
        background-color: rgba(13, 136, 255, 0.15);
    }

    & .tp-service-item-four__title {
        &:hover {
            & h3 {
                color: #0D88FF;
            }
        }
    }
}

.sv-color-6 {
    & .tp-service-item-four__img {
        background-color: rgba(12, 214, 138, 0.15);
    }

    & .tp-service-item-four__title {
        &:hover {
            & h3 {
                color: #0CD68A;
            }
        }
    }
}

.sv-color-7 {
    & .tp-service-item-four__img {
        background-color: rgba(252, 220, 2, 0.15);
    }

    & .tp-service-item-four__title {
        &:hover {
            & h3 {
                color: #FCDC02;
            }
        }
    }
}

.sv-color-eight {
    background-color: rgba(130, 206, 253, .15);
    padding-top: 65px;
    padding-bottom: 65px;
    border-radius: 20px;

    &__title {
        & h3 {
            color: var(--tp-common-black);
            font-size: 18px;
            font-weight: 500;
            padding-bottom: 10px;

            &:hover {
                color: var(--tp-theme-1);
            }
        }

        & i {
            color: var(--tp-theme-1);
            font-weight: 900;
            font-size: 110px;
            transform: rotate(45deg);
            transition: .3s;

            @media #{$lg} {
                font-size: 100px;
            }

            &:hover {
                color: var(--tp-theme-secondary);
            }
        }
    }
}

.tp-best-services-title-box {
    margin-bottom: 180px;

    @media #{$md,$xs} {
        margin-bottom: 50px;
    }
}

.tp-sv-button {
    & img{
        animation: rotate2 15s linear infinite;
    }
    @media #{$xs} {
        margin-bottom: 70px;
    }
}

.tpservices {
    padding-left: 50px;

    @media #{$xs} {
        padding-left: 25px;
    }

    &__icon {
        & i {
            font-size: 66px;
            color: rgba(0, 0, 0, .30);
        }

        & .angle-right-svg {
            color: var(--tp-common-black);
            font-weight: 300;
        }
    }

    &__content {
        & .tp-sv-bs-title {
            color: var(--tp-common-black);
            font-weight: 500;
            font-size: 30px;
            line-height: 1.3;

            @media #{$xs} {
                font-size: 20px;

                & br {
                    display: none;
                }
            }

            &:hover {
                color: var(--tp-theme-1);
            }
        }
    }
}

.sv-border-top {
    border-top: 2px solid var(--tp-common-black);
}

.sv-border-bottom {
    border-bottom: 2px solid var(--tp-common-black);
}
.tp-sv-space-wrapper{
    margin-left: 110px;
    @media #{$lg} {
        margin-left: 0;
    }

    @media #{$md,$xs} {
        margin-left: 0;
    }

    @media #{$xs} {
        margin-left: 0;
    }
}
.service-space {
    padding: 40px 60px;
    @media #{$lg} {
        margin-left: 0;
        padding: 20px 20px;
    }

    @media #{$md,$xs} {
        margin-left: 0;
    }

    @media #{$xs} {
        margin-left: 0;
        padding: 20px 5px;
    }
    
}

.tp-sv-button {
    @media #{$md} {
        margin-bottom: 50px;
    }
}

.bg-white-wrapper {
    transition: .3s;
    position: relative;
    z-index: 2;
    overflow: hidden;
    &:before{
        content: "";
        background: #fff;
        height: 100%;
        width: 0%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        // transition: width 0.4s cubic-bezier(0.34, 1.81, 0.64, 1);
        
        transition: .5s;
    }
    &:hover {
        // background-color: var(--tp-common-white);
        &:before{
            animation: bounceRight 2s; 
            width: 100%;
        }
        .tpservices {
            &__icon {
                & a {
                    color: rgba(0, 0, 0, 1);
                }
            }
        }
    }
}


.circle-animation {
    &.service {
        top: 5%;
        left: 8%;
        border: 1px solid #E8ECF2;
        width: 757px;
        height: 757px;
        position: absolute;
        border-radius: 50%;

        @media #{$md} {
            top: 9%;
            left: 0%;
        }
        @media #{$xs} {
            top: 5%;
            left: 5%;
            height: 300px;
            width: 300px;
        }

    }
}

.circle-animation {
    & span {
        &.tp-circle-1 {
            display: block;
            position: absolute;
            content: "";
            top: calc(50% - 1px);
            left: 50%;
            width: 50%;
            height: 1px;
            background: transparent;
            transform-origin: left;
            -webkit-animation: circle-animation 13s linear infinite;
            -moz-animation: circle-animation 13s linear infinite;
            -o-animation: circle-animation 13s linear infinite;
            animation: circle-animation 13s linear infinite;
        }
    }
}

.circle-animation {
    & span {
        &.tp-circle-2 {
            display: block;
            position: absolute;
            content: "";
            top: calc(50% - 1px);
            left: 50%;
            width: 50%;
            height: 1px;
            background: transparent;
            transform-origin: left;
            transform: scale(-1, 1);
            -webkit-animation: circle-animation2 13s linear infinite;
            -moz-animation: circle-animation2 13s linear infinite;
            -o-animation: circle-animation2 13s linear infinite;
            animation: circle-animation2 13s linear infinite;
        }
    }
}

.circle-animation {
    & span {
        &.tp-circle-1 {
            &::before {
                position: absolute;
                content: "";
                width: 22px;
                height: 22px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                top: -25px;
                right: -12px;
                background-color: #FFADAD;
            }
        }
    }
}

.circle-animation {
    & span {
        &.tp-circle-2 {
            &::after {
                position: absolute;
                content: "";
                width: 14px;
                height: 14px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                bottom: -25px;
                right: -7px;
                background-color: var(--tp-theme-1);
            }
        }
    }
}

.circle-animation {
    &.service-two {
        bottom: -3%;
        right: 9%;
        border: 1px solid #E8ECF2;
        width: 488px;
        height: 488px;
        position: absolute;
        border-radius: 50%;
        @media #{$xl} {
            bottom: 0%;
            right: 0%;
        }
        @media #{$xs} {
            bottom: 12px;
            right: 3%;
            height: 200px;
            width: 200px;
        }

    }
}

.circle-animation {
    & span {
        &.tp-circle-skye {
            display: block;
            position: absolute;
            content: "";
            top: calc(50% - 1px);
            left: 50%;
            width: 50%;
            height: 1px;
            background: transparent;
            transform-origin: left;
            -webkit-animation: circle-animation 13s linear infinite;
            -moz-animation: circle-animation 13s linear infinite;
            -o-animation: circle-animation 13s linear infinite;
            animation: circle-animation 13s linear infinite;
        }
    }
}

.circle-animation {
    & span {
        &.tp-circle-skye {
            &::before {
                position: absolute;
                content: "";
                width: 22px;
                height: 22px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                top: -25px;
                right: -12px;
                background-color: #82CEFD;
            }
        }
    }
}

.tp-service-bs-space {
    margin-left: 130px;
    margin-right: 130px;

    @media #{$xxl,$xl,$lg,$md,$xs} {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.bp-sv-shape-1 {
    position: absolute;
    bottom: 18px;
    right: -26px;
    animation: moving 9s linear infinite;
    @media #{$xxl,$xl,$lg,$md,$xs} {
        right: 0;
    }
}

.bp-sv-shape-2 {
    position: absolute;
    left: -100px;
    bottom: -90px;
    animation: rotate2 15s linear infinite;
}

.bs-shape-1 {
    position: absolute;
    left: 115px;
    top: 70px;
    animation: rotate2 15s linear infinite;
    @media #{$xl,$lg} {
        top: -50px;
    }
}

.bs-shape-2 {
    position: absolute;
    top: 70px;
    right: 90px;
    animation: moving 15s linear infinite;
    @media #{$xl,$lg} {
        top: 134px;
    }
}

.bpservice {
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    &__item {
        padding: 55px 35px;
        border-radius: 10px;
        border: 1px solid transparent;
        transition: .3s;

        @media #{$lg} {
            padding: 35px 15px;
        }

        @media #{$xs} {
            padding: 38px 15px;
        }
    }

    &__icon {
        & a {
            height: 84px;
            width: 84px;
            background-color: var(--tp-common-dpink);
            display: inline-block;
            text-align: center;
            line-height: 84px;
            border-radius: 50%;
            margin-bottom: 42px;

            @media #{$lg,$md,$xs} {
                margin-bottom: 25px;
            }
        }
    }

    &__content {
        & .bp-sv-sm-title {
            font-size: 32px;
            color: var(--tp-common-black);
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 32px;
            display: inline-block;

            @media #{$lg} {
                font-size: 25px;
                margin-bottom: 25px;
            }

            @media #{$md} {
                font-size: 25px;
                margin-bottom: 25px;
            }

            @media #{$xs} {
                font-size: 25px;
                margin-bottom: 25px;
            }

        }

        & P {
            font-size: 16px;
            margin-bottom: 0;
        }
    }

    &:hover,&.active {
        box-shadow: 0px 26px 50px rgba(206, 210, 225, 0.24);
        background-color: var(--tp-common-white);

        & .bpservice__item {
            border: 1px solid #F0F0F7;
        }

        & .bpservice__icon {
            & a {
                animation: icon-bounce 0.8s 1;
            }
        }
    }
}

.bp-sv-color-1 {
    &:hover {
        color: var(--tp-common-dpink);
    }
}

.bp-sv-color-2 {
    & .bpservice__icon {
        & a {
            background-color: var(--tp-common-blue);
        }
    }

    &:hover {
        color: var(--tp-common-blue);
    }
}

.bp-sv-color-3 {
    & .bpservice__icon {
        & a {
            background-color: var(--tp-theme-1);
        }
    }

    &:hover {
        color: var(--tp-theme-1);
    }
}

.sv-1-border {
    border: 1px solid #F3F3F3;
}

.svcase {
    &__img {
        margin-bottom: 30px;
        border-radius: 20px;
        & img {
            border-radius: 20px;
            max-width: 100%;
            transform: scale(1);
            transition: 1s;
        }
    }
    &:hover{
        & .svcase__img{
            & img{
                transform: scale(1.1);
            }
        }
    }

    &__content {
        & p {
            font-size: 16px;
            line-height: 27px;

            @media #{$lg,$xs} {
                & br {
                    display: none;
                }
            }
        }
    }
}

.sv-case-sm-title {
    font-size: 24px;
    font-weight: 500;
    color: var(--tp-common-black);
    padding-bottom: 5px;

    @media #{$lg,$xs} {
        font-size: 21px;
    }

    &:hover {
        color: var(--tp-theme-1);
    }
}

.sv-2-border {
    border: 1px solid #F3F3F3;
}

.service-details-space{
    margin-bottom: 200px;
    @media #{$md,$xs} {
       margin-bottom: 80px;
    }
}
.service-pt-pb{
    padding-top: 125px;
    padding-bottom: 100px;
}
.sd-service-details-paragraph{
    padding-left: 60px;
    @media #{$xl} {
        padding-left: 45px;
    }
    @media #{$lg,$md,$xs} {
        padding-left: 0px;
    }
}
.sd-service-details {
    & a {
        font-weight: 500;
        font-size: 18px;
        align-items: center;
        text-decoration-line: underline;
        color: var(--tp-common-black);
        display: inline-block;
        transition: .3s;
        @media #{$md,$xs} {
           margin-bottom: 50px;
        }
        @media #{$xs} {
           margin-bottom: 50px;
           font-size: 16px;
        }
        &:hover{
            color: var(--tp-common-blue);
        }
        &::before{
            content: "";
            height: 19px;
            width: 19px;
            border-radius: 50%;
            background-color: var(--tp-common-blue);
            display: inline-block;
            transform: translateY(4px);
            margin-right: 10px; 
        }
        & i{
            font-size: 14px;
            padding-left: 10px;
        }
    }
}
.tp-sv-tag {
    display: inline-block;
    background-color: #2f54eb; // This will set the background color of the rectangle to light grey
    color: rgb(255, 255, 255); // This will set the text color to dark grey
    font-size: 12px; // This will set the font size to 12 pixels
    text-align: center; // This will center-align the text in the rectangle
    line-height: 30px; // This will vertically center the text in the rectangle
    border-radius: 9px; // This will give the rectangle rounded corners
    padding: 0 20px; // This will add 10 pixels of padding to the left and right of the text
    margin : 5px;
    font-weight: 900;

 
    }
    .tp-sv-tag-yellow {
        display: inline-block;
        background-color: #f0de3b; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 12px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 30px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 10px; // This will add 10 pixels of padding to the left and right of the text
        margin: 5px;
        font-weight: 900;

    }
    .tp-sv-tag-green {
        display: inline-block;
        background-color: #32eb2f; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 12px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 30px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 10px; // This will add 10 pixels of padding to the left and right of the text
        margin: 5px;
        font-weight: 900;

    }
    .tp-sv-tag-purple {
        display: inline-block;
        background-color: #b30beb; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 12px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 30px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 10px; // This will add 10 pixels of padding to the left and right of the text
        margin: 5px;
        font-weight: 900;

    }
    .tp-sv-tag-red {
        display: inline-block;
        background-color: #ed2f4b; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 12px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 30px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 10px; // This will add 10 pixels of padding to the left and right of the text
        margin: 5px;
        font-weight: 900;

    }
    .tp-sv-tag-lightpurple {
        display: inline-block;
        background-color: #7347ea; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 12px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 30px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 10px; // This will add 10 pixels of padding to the left and right of the text
        margin: 5px;
        font-weight: 900;

    }
    .tp-sv-tag-orange {
        display: inline-block;
        background-color: #eea424; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 12px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 30px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 10px; // This will add 10 pixels of padding to the left and right of the text
        margin: 5px;
        font-weight: 900;

    }
    .tp-sv-tag-teal {
        display: inline-block;
        background-color: #24eebf; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 12px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 30px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 10px; // This will add 10 pixels of padding to the left and right of the text
        margin: 5px;
        font-weight: 900;

    }
    .tp-sv-tag-pink {
        display: inline-block;
        background-color: #ee24dd; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 12px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 30px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 10px; // This will add 10 pixels of padding to the left and right of the text
        margin: 5px;
        font-weight: 900;

    }
    .tp-sv-tag-lightred {
        display: inline-block;
        background-color: #ed5454; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 12px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 30px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 10px; // This will add 10 pixels of padding to the left and right of the text
        margin: 5px;
        font-weight: 900;

    }
    .tp-sv-tag-lightgreen {
        display: inline-block;
        background-color: #54ed94; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 12px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 30px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 10px; // This will add 10 pixels of padding to the left and right of the text
        margin: 5px;
        font-weight: 900;

    }
    .tp-sv-tag-lightpink {
        display: inline-block;
        background-color: #ea99e1; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 12px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 30px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 10px; // This will add 10 pixels of padding to the left and right of the text
        margin: 5px;
        font-weight: 900;

    }
.sd-big-img{
    margin-bottom: 100px;
    & img{
        border-radius: 20px;
        max-width: 100%;
    }
}

.sv-four-color{
    background-color: rgba(130, 206, 253, .10);
}
.sv-five-color{
    background-color: rgba(30, 226, 207, .10);
}
.sv-six-color{
    background-color: rgba(253, 52, 110, .10);
}
.service-image{
    height: 100px;
    width: 100px;
   
}
.orbit {
    --size: 12rem;
    --speed: 120s;
  }
  .orbit .center-image {
    width: var(--size);
    position: relative;
    z-index: 10;
  }
  .orbit .center-image img {
    position: absolute;
    transition: opacity 500ms;
  }
  .orbit .center-image img:not(:first-child):hover {
    opacity: 0;
  }
  .orbit ul {
    display: grid;
    place-items: center;
    width: var(--size);
    height: var(--size);
    position: relative;
    list-style: none;
    --icon-bg: var(--green-light);
    --text-bg: var(--green-dark);
    transform-origin: center;
    animation: orbit var(--speed) linear infinite;
  }
  .orbit ul:hover {
    animation-play-state: paused;
    --orbit-play-state: paused;
  }
  .orbit li {
    --icon-bg: pink;
    --text-bg: blue;
    position: absolute;
    width: 8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-weight: 500;
    color: var(--white-light);
    text-align: center;
    line-height: 1;
    display: grid;
    place-items: center;
  }
  .orbit li:hover {
    --throb-play-state: paused;
  }
  .orbit li:nth-child(1) {
    --throb-delay: 0ms;
  }
  .orbit li:nth-child(2) {
    --throb-delay: 500ms;
  }
  .orbit li:nth-child(3) {
    --throb-delay: 1000ms;
  }
  .orbit li:nth-child(4) {
    --throb-delay: 1500ms;
  }
  .orbit li:nth-child(5) {
    --throb-delay: 2000ms;
  }
  .orbit li:nth-child(6) {
    --throb-delay: 2500ms;
  }
  .orbit li:nth-child(7) {
    --throb-delay: 3000ms;
  }
  .orbit li:nth-child(8) {
    --throb-delay: 3500ms;
  }
  .orbit li > * {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: inherit;
    position: absolute;
    animation: orbit var(--speed) linear reverse infinite, throb 1s var(--throb-delay) ease-in-out infinite alternate;
    animation-play-state: var(--orbit-play-state, running), var(--throb-play-state, running);
  }
  .orbit li > div {
    background-color: var(--icon-bg);
  }
  .orbit li > p {
    background: var(--text-bg);
    transition: opacity 500ms;
    opacity: 0;
  }
  .orbit li:hover > p {
    opacity: 1;
  }
  .orbit li:nth-child(1) {
    --icon-bg: var(--blue-light);
    --text-bg: var(--blue-dark);
    transform: translate(15rem, 0rem);
  }
  .orbit li:nth-child(2) {
    --icon-bg: var(--green-light);
    --text-bg: var(--green-dark);
    transform: translate(10rem, 10rem);
  }
  .orbit li:nth-child(3) {
    --icon-bg: var(--pink-light);
    --text-bg: var(--pink-dark);
    transform: translate(0, 15rem);
  }
  .orbit li:nth-child(4) {
    --icon-bg: var(--red-light);
    --text-bg: var(--red-dark);
    transform: translate(-10rem, 10rem);
  }
  .orbit li:nth-child(5) {
    --icon-bg: var(--brown-light);
    --text-bg: var(--brown-dark);
    transform: translate(-15rem, 0rem);
  }
  .orbit li:nth-child(6) {
    --icon-bg: var(--yellow-light);
    --text-bg: var(--yellow-dark);
    transform: translate(-10rem, -10rem);
  }
  .orbit li:nth-child(7) {
    --icon-bg: var(--purple-light);
    --text-bg: var(--purple-dark);
    transform: translate(0, -15rem);
  }
  .orbit li:nth-child(8) {
    --icon-bg: var(--orange-light);
    --text-bg: var(--orange-dark);
    transform: translate(10rem, -10rem);
  }
  
  @keyframes orbit {
    100% {
      rotate: 1turn;
    }
  }
  @keyframes hold-position {
    100% {
      rotate: -1turn;
    }
  }
  @keyframes throb {
    100% {
      scale: 1.05;
    }
  }
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  .tp-herocircle{
    display: flex;
    justify-content: center;
    align-items: center;
  transform: (200px,200px);
  }
  .cards-wrapper{
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
  }
.cards-circle{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 300px;
}
.card-circle {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 110px;
    flex-direction: column;
    position: relative;
    width: 150px; 
}
.service-hero {
    display: flex;
  
}
  
  .service-hero-text {
    flex: 1;
    text-align: left;
  }
  
  .service-hero-image {
    text-align: right;
    flex: 0 0 auto;
    
  }
  
  @media (max-width: 600px) {
    .service-hero {
      flex-direction: column;
    }
    .service-hero-text {
      order: 2;
    }
    .service-hero-image {
      order: 1;
    }
  }
.text-white-email{
    color: white;
    font-weight: bold;
    padding-top: 10px;
}
.service-hero-50{
    text-align: right;
    flex: 0 0 auto;
    scale:calc(100vw/1000);
    width: 50%;
  }
 .font-bold-list{
    font-weight: 700;
 }
 .tp-certif img {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
  }
  
  .tp-certif img:hover {
    transform: translateY(-5px);
  }
  .tp-certif img p {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-size: 12px;
  }
  
  .tp-certif img:hover p {
    display: block;
  }
  
  .tp-sv-tag-lg {
    display: inline-block;   
    background-color: #2f54eb; // This will set the background color of the rectangle to light grey
    color: rgb(255, 255, 255); // This will set the text color to dark grey
    font-size: 24px; // This will set the font size to 12 pixels
    text-align: center; // This will center-align the text in the rectangle
    line-height: 60px; // This will vertically center the text in the rectangle
    border-radius: 9px; // This will give the rectangle rounded corners
    padding: 0 20px; // This will add 10 pixels of padding to the left and right of the text
    margin : 5px;
    font-weight: 900;
  &:hover {
          transform: scaleX(1.05);
          transform: scaleY(1.05);
          translate: 3px;
        }    
}
    .tp-sv-tag-yellow-lg {
        display: inline-block;
        background-color: var(--tp-theme-primary); // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        border-color: #3F3F47;
        font-size: 24px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 60px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 20px; // This will add 10 pixels of padding to the left and right of the text
        margin : 5px;
        font-weight: 900;
  &:hover {
          transform: scaleX(1.05);
          transform: scaleY(1.05);
          translate: 3px;
        }
    }
    .tp-sv-tag-green-lg {
        display: inline-block;
        background-color: #32eb2f; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 24px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 60px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 20px; // This will add 10 pixels of padding to the left and right of the text
        margin : 5px;
        font-weight: 900;
  &:hover {
          transform: scaleX(1.05);
          transform: scaleY(1.05);
          translate: 3px;
        }
    }
    .tp-sv-tag-purple-lg {
        display: inline-block;
        background-color: #b30beb; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 24px; // This will set the font size to 12 pixels
    text-align: center; // This will center-align the text in the rectangle
    line-height: 60px; // This will vertically center the text in the rectangle
    border-radius: 9px; // This will give the rectangle rounded corners
    padding: 0 20px; // This will add 10 pixels of padding to the left and right of the text
    margin : 5px;
    font-weight: 900;
  &:hover {
          transform: scaleX(1.05);
          transform: scaleY(1.05);
          translate: 3px;
        }
    }
    .tp-sv-tag-red-lg {
        display: inline-block;
        background-color: #ed2f4b; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 24px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 60px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 20px; // This will add 10 pixels of padding to the left and right of the text
        margin : 5px;
        font-weight: 900;
  &:hover {
          transform: scaleX(1.05);
          transform: scaleY(1.05);
          translate: 3px;
        }
    }
    .tp-sv-tag-lightpurple-lg {
        display: inline-block;
        background-color: #7347ea; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 24px; // This will set the font size to 12 pixels
    text-align: center; // This will center-align the text in the rectangle
    line-height: 60px; // This will vertically center the text in the rectangle
    border-radius: 9px; // This will give the rectangle rounded corners
    padding: 0 20px; // This will add 10 pixels of padding to the left and right of the text
    margin : 5px;
    font-weight: 900;
  &:hover {
          transform: scaleX(1.05);
          transform: scaleY(1.05);
          translate: 3px;
        }
    }
    .tp-sv-tag-orange-lg {
        display: inline-block;
        background-color: #eea424; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 24px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 60px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 20px; // This will add 10 pixels of padding to the left and right of the text
        margin : 5px;
        font-weight: 900;
  &:hover {
          transform: scaleX(1.05);
          transform: scaleY(1.05);
          translate: 3px;
        }
    }
    .tp-sv-tag-teal-lg {
        display: inline-block;
        background-color: #24eebf; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 24px; // This will set the font size to 12 pixels
    text-align: center; // This will center-align the text in the rectangle
    line-height: 60px; // This will vertically center the text in the rectangle
    border-radius: 9px; // This will give the rectangle rounded corners
    padding: 0 20px; // This will add 10 pixels of padding to the left and right of the text
    margin : 5px;
    font-weight: 900;
  &:hover {
          transform: scaleX(1.05);
          transform: scaleY(1.05);
          translate: 3px;
        }    
}
    .tp-sv-tag-pink-lg {
        display: inline-block;
        background-color: #ee24dd; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 24px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 60px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 20px; // This will add 10 pixels of padding to the left and right of the text
        margin : 5px;
        font-weight: 900;
  &:hover {
          transform: scaleX(1.05);
          transform: scaleY(1.05);
          translate: 3px;
        }

    }
    .tp-sv-tag-lightred-lg {
        display: inline-block;
        background-color: #ed5454; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 24px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 60px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 20px; // This will add 10 pixels of padding to the left and right of the text
        margin : 5px;
        font-weight: 900;
          &:hover {
          transform: scaleX(1.05);
          transform: scaleY(1.05);
          translate: 3px;
        }

    }
    .tp-sv-tag-lightgreen-lg {
        display: inline-block;
        background-color: #54ed94; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 24px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 60px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 20px; // This will add 10 pixels of padding to the left and right of the text
        margin : 5px;
        font-weight: 900;
           &:hover {
          transform: scaleX(1.05);
          transform: scaleY(1.05);
          translate: 3px;
        }

    }
    .tp-sv-tag-lightpink-lg {
        display: inline-block;
        background-color: #ea99e1; // This will set the background color of the rectangle to light grey
        color: rgb(255, 255, 255); // This will set the text color to dark grey
        font-size: 24px; // This will set the font size to 12 pixels
        text-align: center; // This will center-align the text in the rectangle
        line-height: 60px; // This will vertically center the text in the rectangle
        border-radius: 9px; // This will give the rectangle rounded corners
        padding: 0 20px; // This will add 10 pixels of padding to the left and right of the text
        margin : 5px;
        font-weight: 900;
        &:hover {
          transform: scaleX(1.05);
          transform: scaleY(1.05);
          translate: 3px;
        }
    }
    .service-hero-50{
        text-align: right;
        flex: 0 0 auto;
        scale:calc(100vw/1000);
        width: 50%;
        
    @media #{$xxxl} {
        display: none;
        }
    
        @media #{$xxl} {
            display: none;
        }
    
        @media #{$xl} {
            display: none;
        }
    
        @media #{$lg} {
            display: none;
    
        }
    
        @media #{$xs} {
            display: none;
        }
    
        & img {
            @media #{$lg,$xs} {
                display: none;
            }
        }
      }
      .tp-font-black{
        font-weight: 900;
        color: #3F3F47;
        display: inline;
        align-items: center;
        justify-content: center;
      }
      .tp-font-p{
        font-weight: 900;
        color: #3F3F47;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
      .tp-title-md-white {
        font-size: 40px;
        font-weight: 700;
        color: #fff;
        text-align: center;
      }
      .tp-font-p-white{
        font-weight: 900;
        color: #fff;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
      .container-call {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 30%;
        margin: 1%;
        border-radius: 9px;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 0 0 0.75px #000000;
      }
      .center-button{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 10px;
      }
      .sh-container{
       
        color:#fff;
        background: #2f44a5;
        border-radius: 20px;
        border-color: #3f57d0;
        font-size: xx-large;
        width: 60%;
        align-items: center;
        align-content: center;
        align-self: center;
        justify-content: center;

    }
    .containerLA{
        width: 50%;
        margin-left:2%;
        margin-right:2%;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-self: center;
    }
    .containerNYC{
        width: 45%;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-self: center;
    }
    .container85{
        width: 40%;
      
        align-items: center;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-self: center;
    }

    .container75{
        margin-left:6%;
        margin-right:6%;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-self: center;
    }
  
    .container65{
        margin-left:8%;
        margin-right:8%;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-self: center;
    }
 
.hashtag{
    font-size: 120px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    @media #{$xxxl} {
        font-size: 60px;
    }
    
        @media #{$xxl} {
            font-size: 60px;
        }
    
        @media #{$xl} {
            font-size: 60px;
        }
    
        @media #{$lg} {
            font-size: 60px;
    
        }
    
        @media #{$xs} {
            font-size: 60px;
        }
}
.hashtag-sm{
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.tp-title-piechart {
    font-size: 60px;
    font-weight: 700;
  color:#2f54eb;
    margin-bottom: 40px;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .tp-title-piechart2 {
    font-size: 30px;
    font-weight: 700;
    color:#2f54eb;
  
    text-align: center;
  }
.hashtag-cle{
    color:#fff;
        background: #42df2a;
        border-radius: 90px;
        border-color: #3f57d0;
        font-size: 60px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        @media #{$xxxl} {
            font-size: 45px;
        }
        
            @media #{$xxl} {
                font-size: 45px;
            }
        
            @media #{$xl} {
                font-size: 45px;
            }
        
            @media #{$lg} {
                font-size: 45px;
        
            }
        
            @media #{$xs} {
                font-size: 45px;
            }
}
.hashtag-la{
    color:rgb(255, 255, 255);
        background: #a52f97;
        border-radius: 90px;
        border-color: #3f57d0;
        font-size: 60px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        @media #{$xxxl} {
            font-size: 45px;
        }
        
            @media #{$xxl} {
                font-size: 45px;
            }
        
            @media #{$xl} {
                font-size: 45px;
            }
        
            @media #{$lg} {
                font-size: 45px;
        
            }
        
            @media #{$xs} {
                font-size: 45px;
            }
}
.hashtag-nyc{
    color:#fff;
        background: #2fa566;
        border-radius: 20px;
        border-color: #3f57d0;
        font-size: 60px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        @media #{$xxxl} {
            font-size: 45px;
        }
        
            @media #{$xxl} {
                font-size: 45px;
            }
        
            @media #{$xl} {
                font-size: 45px;
            }
        
            @media #{$lg} {
                font-size: 45px;
        
            }
        
            @media #{$xs} {
                font-size: 45px;
            }
    }
.hashtag-chi{
    color:#fff;
        background: #ce1d1d;
        border-radius: 90px;
        border-color: #3f57d0;
        font-size: 60px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        @media #{$xxxl} {
            font-size: 45px;
        }
        
            @media #{$xxl} {
                font-size: 45px;
            }
        
            @media #{$xl} {
                font-size: 45px;
            }
        
            @media #{$lg} {
                font-size: 45px;
        
            }
        
            @media #{$xs} {
                font-size: 45px;
            }
}
.hashtag-phx{
    color:#fff;
        background: #ff7a05;
        border-radius: 90px;
        border-color: #3f57d0;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        @media #{$xxxl} {
            font-size: 45px;
        }
        
            @media #{$xxl} {
                font-size: 45px;
            }
        
            @media #{$xl} {
                font-size: 45px;
            }
        
            @media #{$lg} {
                font-size: 45px;
        
            }
        
            @media #{$xs} {
                font-size: 45px;
            }
    }

.scale{
    scale: 2.75;
    height: 50px;
    width: 50px;
    margin: 50px;
}
.scale2{
   width: 400px;
   height: 400px;
    margin: 50px;
}
.tp-font-pdesc{
    font-size: 16;
    color: #000000;
    text-align: center;
}
.parent-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
    .option1 { 
    grid-area: 1 / 1 / 2 / 6;
    text-align: center;
    background: #648bff25;
    box-shadow: 0px 11px 12px #949494;
    padding: 100px ;
    
    
    }
    .option2 { grid-area: 2 / 1 / 4 / 3;
       background: #648bff25;
        text-align: center;
        box-shadow: 0px 11px 12px #949494;
        padding: 80px ;
     }
    .option3 { grid-area: 2 / 3 / 3 / 6;
        background: #648bff25;
        text-align: center;
        box-shadow: 0px 11px 12px #949494;
        padding: 80px ;
     }
    .option4 { grid-area: 3 / 3 / 4 / 6;
        background: #648bff25;
        text-align: center;
        box-shadow: 0px 11px 12px #949494;
        padding: 80px ;
     }
     
    /*# sourceMappingURL=style.css.map */